/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #fff;
    color: #121212;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.tag {
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.home {
    background-color: #0004ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.home1{
    grid-column: 2;
    grid-row: 1/3;
    background-color: #00ff55;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.home2{
    background-color: #fffb00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}


/* .home img {
    width: 100%;
    height: auto;
}

.home h2 {
    color: #000;
    margin: 15px 0;
    font-size: 1.5em;
}

.home p {
    padding: 0 15px;
    font-size: 1em;
    color: #333;
}

.home button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 5px;
}

.home button:hover {
    background-color: #0056b3;
} */

section {
    padding: 2rem;
    text-align: center;
}

.experiencia {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    background-color: #5e5fa8;
}

.imgExp{
    grid-column: 1;
    grid-row: 1/4;
    background-color: coral;
}

.imgExp img{
    width: 100%;
    height: 100%;
}

.topicosExp{
    background-color: crimson;
}

.botaoExp{
    grid-column: 3;
    grid-row: 3;
    background-color: darkmagenta;
}

.botaoExp button{
   display: flex;
}

form input, form textarea {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

form button {
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        margin-top: 1rem;
    }
}
